.listAndReportDetails{
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 1em;
  grid-gap:10px;
  height: calc(100vh - 100px);
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .listAndReportDetails{
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 615px) {
  .listAndReportDetails{
    grid-template-columns: 1fr;
  }
}