.forecast{
  padding: 20px;
  color: #fff;
  overflow: auto;;
  .message{
    font-size: 30px;
    padding: 40px;
  }
  .forecastList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    font-size: 12px;
    font-weight: lighter;
  }
}

@media screen and (max-width: 768px) {
  .forecast{
    .forecastList{
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 450px) {
  .forecast{
    .forecastList{
      grid-template-columns: 1fr;
    }
  }
}