.locationListMenu{
  h2{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
      padding: 5px;
      margin-top: 2px;
    }
  }
}