.locationInput{
  padding: 10px;
  .error{
    color: #e92e2e;
    font-size: 11px;
    background: #ffffff8c;
    border-radius: 2px;
    padding-left: 10px;
  }
  display: flex;
  flex-flow: row;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 615px) {
  .locationInput{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
  }
}