.locationInput{
  .error{
    color: #e92e2e;
    font-size: 11px;
    background: #ffffff8c;
    border-radius: 2px;
    padding-left: 10px;
  }
  display: flex;
  flex-flow: row;
  flex-direction: row;
  justify-content: center;
}